<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu de Pedidos</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${itens}" class="container my-5">
                <div>
                    <div sec:authorize="isAuthenticated()">
                        <h3>Olá, [[${#httpServletRequest.remoteUser}]] !</h3>
                    </div>
                    <div class="my-5" >
                        <a href="/login" sec:authorize="!isAuthenticated()" class="btn btn-primary"><i
                                class="fas"> Fazer Login</i></a>

                        <a href="/garcom/cadastrar" sec:authorize="!isAuthenticated()" class="btn btn-primary"><i
                                class="fas"> Fazer cadastro</i></a>

                        <form th:action="@{/logout}"  method="post" sec:authorize="isAuthenticated()">
                            <button type="submit" class="btn btn-primary"><i class="fas">Fazer Logout</i></button>
                        </form>
                    </div>

                    <p class="my-5">
                        <a href="/itens/cadastrar" sec:authorize="hasRole('GARCOM')" class="btn btn-primary"><i
                                class="fas fa-user-plus ml-2 "> Adicionar Prato</i></a>
                    </p>

                </div>
                <div class="col-md-10">
                    <h2 th:case="null">Pratos!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th sec:authorize="hasRole('GARCOM')">Adicionar Pedido</th>
                                <th sec:authorize="hasRole('GARCOM')">Editar</th>
                                <th sec:authorize="hasRole('GARCOM')">Apagar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${itens}">
                                <td th:text="${item.codItem}"></td>
                                <td th:text="${item.descricao}"></td>
                                <td th:text="${item.valor}"></td>
                                <td sec:authorize="hasRole('GARCOM')"><a
                                       <button type="submit" id="add-pedido" sec:authorize="hasRole('GARCOM')" class="btn btn-primary"><i
                                               class="fas fa-user-plus ml-2 "> Adicionar Pedido</i></button></a>
                                </td>
                                <td sec:authorize="hasRole('GARCOM')"><a
                                        th:href="@{/itens/editar/{codItem}(codItem=${item.codItem})}"
                                        class="btn btn-primary" ><i class="fas fa-user-edit ml-2">Editar</i></a>
                                </td>
                                <td sec:authorize="hasRole('GARCOM')"><a
                                        th:href="@{/itens/apagar/{codItem}(codItem=${item.codItem})}"
                                        class="btn btn-primary"><i class="fas fa-user-times ml-2">Apagar</i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>